* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    }
    body{
    background: #080808;
    color: #fff;
    }
    #header{
        width: 80%;
        height: 80vh;
        /* background-image: url(images/profilePhoto.jpeg); */
        background-size: cover;
        background-position: center; I
        }