body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(135deg, #e8e3e2, #d8d5d2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: rgba(129, 253, 166, 0.9);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 350px;
    animation: fadeIn 1s ease-in-out;
    backdrop-filter: blur(10px);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

form {
    display: flex;
    flex-direction: column;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
    font-size: 28px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.input-group {
    margin-bottom: 25px;
    position: relative;
}

label {
    margin-bottom: 8px;
    font-weight: 700;
    color: #555;
}

input {
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    width: calc(100% - 24px); 
}

input:focus {
    border-color: #ff5fea;
    box-shadow: 0 0 8px rgba(255, 95, 223, 0.6);
    outline: none;
}

.error-message {
    display: none;
    color: red;
    font-size: 12px;
    position: absolute;
    bottom: -18px;
    left: 0;
}

input:invalid + .error-message {
    display: block;
}

button {
    width:150px;
    margin-left: 100px;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: #7b6afd;
    color: white;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #7d42fa;
    transform: scale(1.05);
}

/* Media Queries */
/* for Tablet */
@media (max-width: 1024px) {
    .form-container {
        width: 80%;
        padding: 30px;
    }
    
    h2 {
        font-size: 24px;
    }
    
    input {
        padding: 10px;
    }
    
    button {
        width: 140px;
        margin-left: calc(50% - 70px);
        padding: 12px;
        font-size: 16px;
    }
}

/* for small tablet and large mobile */
@media (max-width: 768px) {
    .form-container {
        width: 90%;
        padding: 25px;
    }
    
    h2 {
        font-size: 22px;
    }
    
    input {
        padding: 8px;
    }
    
    button {
        width: 130px;
        margin-left: calc(50% - 65px);
        padding: 10px;
        font-size: 14px;
    }
}

/* for mobile */
@media (max-width: 480px) {
    .form-container {
        width: 95%;
        padding: 20px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    input {
        padding: 6px;
    }
    
    button {
        width: 120px;
        margin-left: calc(50% - 60px); 
        padding: 8px;
        font-size: 12px;
    }
}